<% content_for :header do -%>
	My <%= configatron.site_name %>
<% end -%>

<% content_for :sidebar do -%>
	<h2>Sidebar</h2>

		
	<p>
		Some description about Enviromental editor , Some description about Enviromental editor , 
		Some description about Enviromental editor , Some description about Enviromental editor , Some description about Enviromental editor , 
		Some description about Enviromental editor , 
	</p>
<% end -%>

<p>
	Some description about Enviromental editor ,Some description about Enviromental editor ,Some description about Enviromental editor ,Some description about Enviromental editor ,Some description about Enviromental editor ,Some description about Enviromental editor ,Some description about Enviromental editor ,Some description about Enviromental editor ,v
</p>

<p>
	Some description about Enviromental editor ,Some description about Enviromental editor ,Some description about Enviromental editor ,Some description about Enviromental editor ,Some description about Enviromental editor ,Some description about Enviromental editor ,Some description about Enviromental editor ,Some description about Enviromental editor ,Some description about Enviromental editor ,Some description about Enviromental editor ,Some description about Enviromental editor ,Some description about Enviromental editor ,Some description about Enviromental editor ,
</p>

